# Собранные бинарники
bin/
*.exe
*.exe~

# Временные файлы
*~
*.log

# Файлы IDE
.vscode/
.idea/

# История команд
history.log

# OS-специфичные файлы
.DS_Store
Thumbs.db
# Сертификаты (не коммитим)
certs/

# Генератор сертификата (не коммитим)
gen_cert.go